<div class="row">
  <div *ngFor="let product of products" class="col-sm-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
          <a [routerLink]="['/products', product.id]" class="btn btn-danger">
            Check Product
          </a>
        <!-- <a [routerLink]="['/product-detail/', product.id]" class="btn btn-danger">
            Check Product
        </a> -->
      </div>
    </div>
  </div>
</div>
